@mixin ekolab-labtest-view {
  .test-presentation-panel {
    background: url("../content/testPresentation.svg") no-repeat center;
    background-size: auto 100%;
  }

  .test-finished {
    min-height: 700px;
    min-width: 800px;
  }
}
