@mixin ekolab-labwizard-view {
  .wizard-panel {
    background-color: #c9e7c5;
  }
  .wizard-presentation-panel {
    background: url("../content/presentationStep.svg") no-repeat center;
  }
  .wizard-step-panel {
    background-color: rgba(205, 255, 171, 0.13);
    min-height: 650px;
    min-width: 1300px;
  }

  .v-gridlayout-wizard-step-panel {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
  }
}
